@font-face {
  font-family: "Comic";
  src: url(../assets/fonts/ComicRelief.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* li {
  list-style: none;
}

body {
  font-family: Comic, sans-serif;
  background: rgb(86, 109, 171);
  height: 100vh;
  color: rgb(37, 21, 11);
}
body h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-family: Comic, sans-serif;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1300px) {
  body h1 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 1000px) {
  body h1 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 800px) {
  body h1 {
    font-size: 2.2rem;
    padding: 10px auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 430px) {
  body h1 {
    font-size: 1.9rem;
  }
}
body h2 {
  padding: 10px 15px;
  font-size: 2.4rem;
  font-family: Comic, sans-serif;
  font-weight: 100px;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  body h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1000px) {
  body h2 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 800px) {
  body h2 {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 500px) {
  body h2 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 430px) {
  body h2 {
    font-size: 1.6rem;
  }
}
body .errmsg {
  background: whitesmoke;
  margin: 10px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  color: rgb(214, 86, 48);
  font-size: 1.3rem;
}
body a {
  background: rgb(136, 184, 96);
  color: rgb(37, 21, 11);
  border-radius: 20px;
  width: 50px;
  padding: 10px;
  font-size: 1.4rem;
  margin: auto 20px;
}
body h3 {
  margin: 10px auto;
}

.home {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.home .home-title {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
}
.home .home-title button {
  width: 50px;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.4rem;
  margin: 0 20px;
  background: rgb(136, 184, 96);
  color: rgb(37, 21, 11);
}
.home .home-content {
  margin: 5px auto;
}
.home .home-content input {
  font-size: 1.2rem;
  font-family: Comic, sans-serif;
  width: 100%;
  margin-bottom: 10px;
}
.home .home-content button {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 20px;
  background: rgb(168, 10, 29);
  color: wheat;
  margin: 0 10px;
}
.home .home-content select {
  font-size: 1.2rem;
  height: 50px;
  border: 5px solid rgb(136, 184, 96);
  padding: 5px;
  margin: 5px;
}
.home .home-content p {
  font-size: 1.4rem;
  color: rgb(168, 10, 29);
  background: rgba(187, 176, 159, 0.644);
  padding: 5px;
  margin: 15px auto;
  text-align: center;
}
.home .home-content h5 {
  padding-left: 5px;
  color: rgb(4, 26, 85);
  font-size: 1.1rem;
}
.home .home-content .extract-content {
  margin: 10px auto;
}
.home .home-content .extract-content extract-click {
  display: flex;
}
.home .home-content .extract-content extract-click i {
  height: 50px;
  color: rgb(168, 10, 29);
}
.home .home-content .extract-content extract-click i:hover {
  cursor: pointer;
}
.home .home-content .extract-content extract-click button {
  margin: 5px auto;
}/*# sourceMappingURL=index.css.map */